.container {
    background-color: rgb(94, 162, 207);
    min-height: 200px;
    text-align: center;
}

img {
    height: 100px;
    width: 400px;
    margin: 20px;
    background-color: darkgrey;
    display:block;
}

